body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 1) 50%,
    rgba(255, 232, 196, 1) 100%
  );
}
.side-bar-navs {
  color: #40152a;
  text-decoration: none;
}
.active {
  color: #ff1717;
  font-weight: 700;
}
.photo-cards:hover {
  box-shadow: 0px 0px 8px 5px #c7b6a6;
}

::-webkit-datetime-edit-text {
  color: #40152a;
  padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
  color: #40152a;
  text-transform: uppercase;
}
::-webkit-datetime-edit-day-field {
  color: #40152a;
  text-transform: uppercase;
}
::-webkit-datetime-edit-year-field {
  color: #40152a;
  text-transform: uppercase;
}
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  color: #40152a;
}
