body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 1) 50%,
    rgba(255, 232, 196, 1) 100%
  );
}
.side-bar-navs {
  color: #40152a;
  text-decoration: none;
}
.active {
  color: #ff5435;
  font-weight: 700;
  text-shadow: 0.15px 0.15px;
}
